.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a0a0a0;
    padding-left: 20px;
    padding-right: 20px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.contacts > li {
    margin-left: 10px;
}

.contacts a {
    color: #4e4e4e;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.header h2::before {
    content: "⭐";
}

.header h2::after {
    content: "⭐";
}


.main > div {
    margin-top: 20px;
    border: 1px solid black;
}

.main > div:nth-child(odd) {
    background-color: #999999;
}

.main:last-child {
    background-color: red;
}

.footer > p:last-child {
    font-weight: bold;
}